html {
  font-family: Roboto, arial, sans-serif;
  font-weight: 200;
  color: #444;
  font-size: 16.18px;
  line-height: 24.270000000000003px;
}
a {
  color: #00f;
}
a:hover {
  color: #0000e6;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
pre,
code {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: Bitter, serif;
  font-weight: 400;
  color: #111;
}
h1 {
  font-size: 45.304px;
  line-height: 48.540000000000006px;
  margin-bottom: 16.18px;
}
h2 {
  font-size: 40.45px;
  line-height: 45.304px;
  margin-bottom: 12.944px;
}
h3 {
  font-size: 35.596000000000004px;
  line-height: 42.068000000000005px;
  margin-bottom: 9.708px;
}
h4 {
  font-size: 32.36px;
  line-height: 38.832px;
  margin-bottom: 6.472px;
}
h5 {
  font-size: 25.888px;
  line-height: 35.596000000000004px;
  margin-bottom: 3.236px;
}
h6 {
  font-size: 21.034000000000002px;
  line-height: 32.36px;
  margin-bottom: 0px;
}
p,
ul,
ol,
pre,
dl {
  margin-bottom: 16.18px;
}
ul,
ol {
  padding-left: 1.4em;
}
li,
dd {
  margin-bottom: 8.09px;
}
pre {
  font-size: 12.944px;
}
header p {
  color: #aaa;
}
header h1 ~ p {
  margin-top: -8.09px;
}
header h2 ~ p {
  margin-top: -6.472px;
}
header h3 ~ p {
  margin-top: -4.854px;
}
header h4 ~ p {
  margin-top: -3.236px;
}
header h5 ~ p {
  margin-top: -1.618px;
}
header h6 ~ p {
  margin-top: -1.618px;
}
code {
  padding: 3px 4px;
  color: #444;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  font-family: Menlo, Monaco, monospace;
}
pre {
  display: block;
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, monospace;
  line-height: 160%;
}
pre code {
  border: 0;
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 20px;
    line-height: 30px;
  }
  h1 {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 8px;
  }
  h5 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 4px;
  }
  h6 {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  p,
  ul,
  ol,
  pre,
  dl {
    margin-bottom: 20px;
  }
  li,
  dd {
    margin-bottom: 10px;
  }
  pre {
    font-size: 16px;
  }
  header h1 ~ p {
    margin-top: -10px;
  }
  header h2 ~ p {
    margin-top: -8px;
  }
  header h3 ~ p {
    margin-top: -6px;
  }
  header h4 ~ p {
    margin-top: -4px;
  }
  header h5 ~ p {
    margin-top: -2px;
  }
  header h6 ~ p {
    margin-top: -2px;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
  color: #262626;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.25);
  font-family: Roboto, arial, sans-serif;
}
header .header {
  padding: 16px 20px;
  border-top: 2px solid #111;
  background: #27ae60;
  border-bottom: 4px solid #1ea557;
}
header .header span {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
header .header span:before,
header .header span:after {
  content: '';
  display: table;
}
header .header span:after {
  clear: both;
}
header .header span:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
header .header span .logo {
  background: url("../../img/logo.png") no-repeat center center;
  float: left;
  height: 65px;
  width: 59px;
}
@media only screen and (max-width: 799px) {
  header .header span .logo {
    background: url("../../img/logo-small.png") no-repeat center center;
    height: 50px;
    width: 45px;
  }
}
header .header span.cta {
  text-align: right;
  padding: 16.5px 0;
}
@media only screen and (max-width: 799px) {
  header .header span.cta {
    padding: 13px 0;
  }
}
header .header span.cta a {
  font-size: 15px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  background: #159c4e;
  padding: 8px 14px;
  border: 1px solid #0c9345;
  border-radius: 3px;
}
@media only screen and (max-width: 799px) {
  header .header span.cta a {
    font-size: 16px;
  }
}
header .header span.cta a:hover {
  background: #0c9345;
}
header .header span.cta .menu {
  display: none;
}
header nav#menu {
  border-top: 4px solid #262626;
  background: #2a2a2a;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  width: 100%;
  z-index: 2;
  font-size: 0.8em;
}
header nav#menu ul {
  *zoom: 1;
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
header nav#menu ul:before,
header nav#menu ul:after {
  content: '';
  display: table;
}
header nav#menu ul:after {
  clear: both;
}
header nav#menu ul li {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 799px) {
  header nav#menu ul li {
    display: none;
  }
}
header nav#menu ul li a {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 16px 0 19px 0;
  color: #ababab;
  font-weight: bold;
  text-transform: uppercase;
}
header nav#menu ul li a:before,
header nav#menu ul li a:after {
  content: '';
  display: table;
}
header nav#menu ul li a:after {
  clear: both;
}
@media only screen and (max-width: 799px) {
  header nav#menu ul li a {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 33.3333333333333%;
    margin-left: 0%;
    margin-right: 0%;
  }
  header nav#menu ul li a:before,
  header nav#menu ul li a:after {
    content: '';
    display: table;
  }
  header nav#menu ul li a:after {
    clear: both;
  }
}
@media only screen and (max-width: 500px) {
  header nav#menu ul li a {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  header nav#menu ul li a:before,
  header nav#menu ul li a:after {
    content: '';
    display: table;
  }
  header nav#menu ul li a:after {
    clear: both;
  }
}
@media only screen and (max-width: 420px) {
  header nav#menu ul li a {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  header nav#menu ul li a:first-child {
    margin-left: auto;
  }
  header nav#menu ul li a:last-child {
    margin-right: auto;
  }
}
header nav#menu ul li a:hover {
  color: #fff;
}
header nav#menu ul li .active {
  background: #262626;
  color: #fff;
}
header nav#menu.scrolled {
  margin: 0;
  position: fixed;
  top: 0;
}
.main-section {
  padding-top: 10px;
}
@media only screen and (max-width: 500px) {
  .main-section div {
    margin-top: 0;
  }
}
.main-section aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 77.25%;
  font-size: 1.35em;
}
.main-section aside:before,
.main-section aside:after {
  content: '';
  display: table;
}
.main-section aside:after {
  clear: both;
}
.main-section aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .main-section aside {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 68.6666666666667%;
    text-align: center;
  }
  .main-section aside:before,
  .main-section aside:after {
    content: '';
    display: table;
  }
  .main-section aside:after {
    clear: both;
  }
  .main-section aside:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 500px) {
  .main-section aside {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
  }
  .main-section aside:first-child {
    margin-left: auto;
  }
  .main-section aside:last-child {
    margin-right: auto;
  }
}
.main-section article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -25.75%;
  margin: 0;
  font-size: 1.35em;
}
.main-section article:before,
.main-section article:after {
  content: '';
  display: table;
}
.main-section article:after {
  clear: both;
}
.main-section article:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .main-section article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 65.6666666666667%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -34.3333333333333%;
    font-size: 1.1em;
  }
  .main-section article:before,
  .main-section article:after {
    content: '';
    display: table;
  }
  .main-section article:after {
    clear: both;
  }
  .main-section article:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 500px) {
  .main-section article {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
    margin: 10px 0 0 0;
  }
  .main-section article:first-child {
    margin-left: auto;
  }
  .main-section article:last-child {
    margin-right: auto;
  }
}
.main-section ul {
  list-style: none;
  padding: 15px 0;
  text-align: center;
}
.main-section ul li {
  float: left;
}
.main-section p:last-child {
  padding-top: 25px;
}
@media only screen and (max-width: 799px) {
  .main-section p:last-child {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .main-section p:last-child {
    padding-top: 10px;
  }
}
.alex {
  border-radius: 10px;
}
@media only screen and (max-width: 500px) {
  .alex {
    max-width: 200px;
    margin: 10px 0;
  }
}
.portfolio {
  background: #f9f9f9;
}
.portfolio div {
  margin-top: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 680px) {
  .portfolio div {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
.portfolio div article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 58.8%;
  margin-left: 0%;
  margin-right: 3%;
  background: #eee;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.portfolio div article:before,
.portfolio div article:after {
  content: '';
  display: table;
}
.portfolio div article:after {
  clear: both;
}
.portfolio div article:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 680px) {
  .portfolio div article {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio div article:first-child {
    margin-left: auto;
  }
  .portfolio div article:last-child {
    margin-right: auto;
  }
}
.portfolio div aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 38.2%;
  margin-left: 0%;
  margin-right: 3%;
}
.portfolio div aside:before,
.portfolio div aside:after {
  content: '';
  display: table;
}
.portfolio div aside:after {
  clear: both;
}
.portfolio div aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 680px) {
  .portfolio div aside {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio div aside:first-child {
    margin-left: auto;
  }
  .portfolio div aside:last-child {
    margin-right: auto;
  }
}
.portfolio span a {
  margin: 10px 0;
}
@media only screen and (max-width: 799px) {
  .portfolio span a {
    margin: 0 0 10px 0;
  }
}
.portfolio div:nth-child(4) {
  display: none;
}
.about {
  background: #34495e;
  border-top: 4px solid #425f7a;
  border-bottom: 4px solid #425f7a;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}
.about h2 {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}
.about aside {
  margin-top: 15px;
  position: relative;
  left: 68.6666666666667%;
  background: #304457;
  border-radius: 4px 4px 8px 8px;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.about aside:before,
.about aside:after {
  content: '';
  display: table;
}
.about aside:after {
  clear: both;
}
.about aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .about aside {
    position: static;
    left: 0;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin: 10px 0 20px 0;
  }
  .about aside:before,
  .about aside:after {
    content: '';
    display: table;
  }
  .about aside:after {
    clear: both;
  }
  .about aside:last-child {
    margin-right: 0%;
  }
}
.about aside div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.about aside div:before,
.about aside div:after {
  content: '';
  display: table;
}
.about aside div:after {
  clear: both;
}
.about aside div:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.about aside div:first-child {
  margin-left: auto;
}
.about aside div:last-child {
  margin-right: auto;
}
@media only screen and (max-width: 799px) {
  .about aside div {
    display: inline;
    clear: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding-top: 10px;
  }
  .about aside div:first-child {
    margin-left: 0;
  }
  .about aside div:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 799px) {
  .about aside div:nth-child(2) {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .about aside div:nth-child(2) {
    margin-top: 0;
  }
}
.about aside a div {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 20px 0;
  border-radius: 0 0 8px 8px;
  background: #2c3e50;
  -webkit-transition: color 0.25s, background 0.25s, border-color 0.25s;
  transition: color 0.25s, background 0.25s, border-color 0.25s;
}
.about aside a div:first-child {
  margin-left: auto;
}
.about aside a div:last-child {
  margin-right: auto;
}
.about aside a:hover div {
  background: #262626;
}
.about article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -34.3333333333333%;
  display: table;
  text-align: left;
  margin: 0 auto;
}
.about article:before,
.about article:after {
  content: '';
  display: table;
}
.about article:after {
  clear: both;
}
.about article:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .about article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  .about article:before,
  .about article:after {
    content: '';
    display: table;
  }
  .about article:after {
    clear: both;
  }
  .about article:last-child {
    margin-right: 0%;
  }
}
.about aside > div {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 799px) {
  .about aside > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
  }
  .about aside > div:before,
  .about aside > div:after {
    content: '';
    display: table;
  }
  .about aside > div:after {
    clear: both;
  }
  .about aside > div:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 680px) {
  .about aside > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
  }
  .about aside > div:before,
  .about aside > div:after {
    content: '';
    display: table;
  }
  .about aside > div:after {
    clear: both;
  }
  .about aside > div:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  .about aside > div:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
}
@media only screen and (max-width: 420px) {
  .about aside > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
    margin: 5px 0;
    padding: 0 20px;
  }
  .about aside > div:before,
  .about aside > div:after {
    content: '';
    display: table;
  }
  .about aside > div:after {
    clear: both;
  }
  .about aside > div:nth-child(2n) {
    margin-right: 3%;
    float: left;
  }
  .about aside > div:last-child {
    margin-right: 0%;
  }
}
.about article > div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px 0;
}
.about article > div:before,
.about article > div:after {
  content: '';
  display: table;
}
.about article > div:after {
  clear: both;
}
.about article > div:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
@media only screen and (max-width: 799px) {
  .about article > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .about article > div:before,
  .about article > div:after {
    content: '';
    display: table;
  }
  .about article > div:after {
    clear: both;
  }
  .about article > div:nth-child(2n) {
    margin-right: 3%;
    float: left;
  }
  .about article > div:nth-child(3n) {
    margin-right: 0%;
    float: right;
  }
}
@media only screen and (max-width: 680px) {
  .about article > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .about article > div:before,
  .about article > div:after {
    content: '';
    display: table;
  }
  .about article > div:after {
    clear: both;
  }
  .about article > div:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  .about article > div:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
}
@media only screen and (max-width: 420px) {
  .about article > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin: 5px 0;
    padding: 0 20px;
    border-bottom: 2px solid #304457;
  }
  .about article > div:before,
  .about article > div:after {
    content: '';
    display: table;
  }
  .about article > div:after {
    clear: both;
  }
  .about article > div:nth-child(2n) {
    margin-right: 3%;
    float: left;
  }
  .about article > div:last-child {
    margin-right: 0%;
  }
}
.about aside > div > h6,
.about article > div > h6 {
  color: #507596;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  text-transform: uppercase;
  font-weight: bold;
}
.about aside > div > span,
.about article > div > span {
  font-weight: bold;
}
.about aside > div ul {
  list-style: none;
  padding-left: 0;
}
.about article > div ul {
  list-style: none;
  padding-left: 20px;
}
@media only screen and (max-width: 799px) {
  .about article > div ul {
    padding-left: 10px;
  }
}
.about aside > div li {
  margin: 5px 0;
  font-size: 0.8em;
}
@media only screen and (max-width: 799px) {
  .about aside > div li {
    font-size: 1em;
  }
}
.about article > div li {
  border-left: 3px solid #425f7a;
  padding-left: 8px;
  margin: 5px 0;
  font-size: 0.8em;
}
@media only screen and (max-width: 799px) {
  .about article > div li {
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 680px) {
  .about article > div li {
    font-size: 1em;
  }
}
@media only screen and (max-width: 799px) {
  .about article > div a {
    font-weight: normal;
  }
}
.portrait {
  background: url("../../img/alex-portrait.png") no-repeat center top;
  height: 275px;
  width: 100%;
  margin: 10px 0;
}
@media only screen and (max-width: 799px) {
  .portrait {
    background-position: center top;
    height: 210px;
    margin: 0 0 10px 0;
  }
}
@media only screen and (max-width: 420px) {
  .portrait {
    margin: 10px 0;
  }
}
form div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
form div:before,
form div:after {
  content: '';
  display: table;
}
form div:after {
  clear: both;
}
form div:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
@media only screen and (max-width: 799px) {
  form div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  form div:before,
  form div:after {
    content: '';
    display: table;
  }
  form div:after {
    clear: both;
  }
  form div:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  form div:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
}
@media only screen and (max-width: 799px) {
  form div {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  form div:first-child {
    margin-left: auto;
  }
  form div:last-child {
    margin-right: auto;
  }
}
form label {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  cursor: pointer;
}
form label:first-child {
  margin-left: auto;
}
form label:last-child {
  margin-right: auto;
}
form div:nth-child(1n+4) {
  margin-top: 25px;
}
@media only screen and (max-width: 799px) {
  form div:nth-child(1n+2) {
    margin-top: 20px;
  }
}
form .textarea {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
form .textarea:before,
form .textarea:after {
  content: '';
  display: table;
}
form .textarea:after {
  clear: both;
}
form .textarea:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  form .textarea {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  form .textarea:first-child {
    margin-left: auto;
  }
  form .textarea:last-child {
    margin-right: auto;
  }
}
form input,
form textarea {
  font-family: Roboto, arial, sans-serif;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  outline: none;
  background: #f9f9f9;
  border-bottom: 4px solid #eee;
  -webkit-transition: color 0.25s, background 0.25s, border-color 0.25s;
  transition: color 0.25s, background 0.25s, border-color 0.25s;
}
@media only screen and (max-width: 799px) {
  form input,
  form textarea {
    display: block;
  }
}
form input:focus,
form textarea:focus {
  border-color: rgba(249,94,78,0.7);
}
form .optional input:focus,
form .optional textarea:focus {
  border-color: #ddd;
}
form textarea {
  height: 120px;
}
form div:last-child {
  margin-top: 50px;
}
@media only screen and (max-width: 799px) {
  form div:last-child {
    margin-top: 20px;
  }
}
form input[type=submit],
form input[type=reset] {
  cursor: pointer;
  font-size: 18px;
  padding: 13px;
}
form input[type=submit] {
  color: #fff;
  border-color: #159c4e;
  background: #30b769;
  margin-bottom: 20px;
  font-weight: bold;
}
form input[type=reset] {
  background: #f9f9f9;
  border-color: #eee;
  font-size: 16px;
}
form .optional label {
  margin: 0;
}
form .optional label:after {
  content: "optional";
  font-weight: 300;
  color: #ababab;
}
a {
  color: #1ea557;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s, border-color 0.25s;
  transition: color 0.25s, background 0.25s, border-color 0.25s;
}
a:hover {
  color: #2a2a2a;
}
.home h1,
.portfolio h1,
.about h1,
.contact h1,
.blog h1,
.home h2,
.portfolio h2,
.about h2,
.contact h2,
.blog h2 {
  text-align: center;
  margin: 20px 0 50px 0;
}
@media only screen and (max-width: 799px) {
  .home h1,
  .portfolio h1,
  .about h1,
  .contact h1,
  .blog h1,
  .home h2,
  .portfolio h2,
  .about h2,
  .contact h2,
  .blog h2 {
    margin: 15px 0 37.5px 0;
  }
}
@media only screen and (max-width: 500px) {
  .home h1,
  .portfolio h1,
  .about h1,
  .contact h1,
  .blog h1,
  .home h2,
  .portfolio h2,
  .about h2,
  .contact h2,
  .blog h2 {
    margin: 10px 0 25px 0;
  }
}
.home h1 span,
.portfolio h1 span,
.about h1 span,
.contact h1 span,
.blog h1 span,
.home h2 span,
.portfolio h2 span,
.about h2 span,
.contact h2 span,
.blog h2 span {
  font-family: Roboto, arial, sans-serif;
  font-weight: 300;
}
@media only screen and (max-width: 500px) {
  .home h1 span,
  .portfolio h1 span,
  .about h1 span,
  .contact h1 span,
  .blog h1 span,
  .home h2 span,
  .portfolio h2 span,
  .about h2 span,
  .contact h2 span,
  .blog h2 span {
    display: block;
  }
}
@media only screen and (max-width: 350px) {
  .home h1 span,
  .portfolio h1 span,
  .about h1 span,
  .contact h1 span,
  .blog h1 span,
  .home h2 span,
  .portfolio h2 span,
  .about h2 span,
  .contact h2 span,
  .blog h2 span {
    display: none;
  }
}
@media only screen and (max-width: 799px) {
  .home h1 span,
  .portfolio h1 span,
  .about h1 span,
  .contact h1 span,
  .blog h1 span {
    display: block;
  }
}
.container {
  padding: 30px 20px;
}
@media only screen and (max-width: 799px) {
  .container {
    padding: 30px 30px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 20px 20px;
  }
}
@media only screen and (max-width: 420px) {
  .container {
    padding: 20px 20px;
  }
}
.contained {
  *zoom: 1;
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.contained:before,
.contained:after {
  content: '';
  display: table;
}
.contained:after {
  clear: both;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.toggle {
  border: 2px solid #eee;
  background: #f9f9f9;
  border-radius: 4px;
}
.toggle a {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  color: #111;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.toggle a:before,
.toggle a:after {
  content: '';
  display: table;
}
.toggle a:after {
  clear: both;
}
.toggle .active {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  padding: 20px;
  border: 2px solid #f3f3f3;
  background: #2a2a2a;
}
img {
  max-width: 100%;
}
.more {
  background: #eee;
  text-align: center;
  display: block;
  padding: 15px 0;
  border-radius: 4px;
}
.about .more {
  background: #425f7a;
  color: #304457;
}
.fa-external-link {
  font-size: 0.8em;
  margin-left: 4px;
}
footer {
  border-top: 4px solid #f9f9f9;
  background: #f3f3f3;
}
@media only screen and (max-width: 799px) {
  footer span:nth-child(2) {
    display: none;
  }
  footer span:last-child {
    margin-bottom: 10px;
  }
}
footer span:first-child a {
  color: #111;
}
footer span:first-child a:hover {
  color: #ababab;
}
footer span {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 2.5px 0;
  font-size: 0.9em;
  text-align: center;
}
footer span:before,
footer span:after {
  content: '';
  display: table;
}
footer span:after {
  clear: both;
}
footer span:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
@media only screen and (max-width: 799px) {
  footer span {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0 0 0;
    font-size: 1em;
  }
  footer span:first-child {
    margin-left: auto;
  }
  footer span:last-child {
    margin-right: auto;
  }
}
.github-color {
  color: #333;
}
.twitter-color {
  color: #00acee;
}
.linkedin-color {
  color: #1b86bc;
}
.facebook-color {
  color: #3b579d;
}
.google-color {
  color: #dd4b39;
}
.youtube-color {
  color: #c9312c;
}
