body {
  margin: 0;
  color: #262626;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.25);
  font-family: 'Roboto', arial, sans-serif;
}
header section {
  padding: 16px 20px;
  border-top: 2px solid #111;
  background: #27ae60;
  border-bottom: 4px solid #1ea557;
}
header section span {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
header section span:before,
header section span:after {
  content: '';
  display: table;
}
header section span:after {
  clear: both;
}
header section span:last-child {
  margin-right: 0%;
}
header section span .logo {
  background: url("../../img/logo.png") no-repeat center center;
  float: left;
  height: 65px;
  width: 59px;
}
@media only screen and (max-width: 799px) {
  header section span .logo {
    background: url("../../img/logo-small.png") no-repeat center center;
    height: 50px;
    width: 45px;
  }
}
header section span.menu {
  text-align: right;
  padding: 13px 0;
  display: none;
}
@media only screen and (max-width: 799px) {
  header section span.menu {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  header section span.menu {
    padding: 14px 0;
  }
}
header section span.menu a {
  color: #fff;
  background: #111;
  padding: 8px 18px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
}
header nav {
  border-top: 4px solid #262626;
  background: #2a2a2a;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}
header nav ul {
  *zoom: 1;
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
header nav ul:before,
header nav ul:after {
  content: '';
  display: table;
}
header nav ul:after {
  clear: both;
}
header nav ul li {
  text-align: center;
}
@media only screen and (max-width: 799px) {
  header nav ul li {
    display: none;
  }
}
header nav ul li a {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 20px 0 24px 0;
  color: #ababab;
  font-weight: bold;
  text-transform: uppercase;
}
header nav ul li a:before,
header nav ul li a:after {
  content: '';
  display: table;
}
header nav ul li a:after {
  clear: both;
}
@media only screen and (max-width: 799px) {
  header nav ul li a {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 33.3333333333333%;
    margin-left: 0%;
    margin-right: 0%;
  }
  header nav ul li a:before,
  header nav ul li a:after {
    content: '';
    display: table;
  }
  header nav ul li a:after {
    clear: both;
  }
}
@media only screen and (max-width: 500px) {
  header nav ul li a {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  header nav ul li a:before,
  header nav ul li a:after {
    content: '';
    display: table;
  }
  header nav ul li a:after {
    clear: both;
  }
}
@media only screen and (max-width: 420px) {
  header nav ul li a {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  header nav ul li a:first-child {
    margin-left: auto;
  }
  header nav ul li a:last-child {
    margin-right: auto;
  }
}
header nav ul li a:hover {
  color: #fff;
}
header nav ul li .active {
  background: #262626;
  color: #fff;
}
.main-section h1 {
  margin-top: 10px;
}
@media only screen and (max-width: 500px) {
  .main-section h1 {
    margin-top: 0;
  }
}
.main-section h1,
.main-section h2 {
  text-align: center;
}
.main-section div {
  margin-top: 40px;
}
@media only screen and (max-width: 500px) {
  .main-section div {
    margin-top: 0;
  }
}
.main-section span {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 77.25%;
  text-align: right;
}
.main-section span:before,
.main-section span:after {
  content: '';
  display: table;
}
.main-section span:after {
  clear: both;
}
.main-section span:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .main-section span {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 68.6666666666667%;
    text-align: center;
  }
  .main-section span:before,
  .main-section span:after {
    content: '';
    display: table;
  }
  .main-section span:after {
    clear: both;
  }
  .main-section span:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 500px) {
  .main-section span {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
  }
  .main-section span:first-child {
    margin-left: auto;
  }
  .main-section span:last-child {
    margin-right: auto;
  }
}
.main-section p {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -25.75%;
  margin: 0;
}
.main-section p:before,
.main-section p:after {
  content: '';
  display: table;
}
.main-section p:after {
  clear: both;
}
.main-section p:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .main-section p {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 65.6666666666667%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -34.3333333333333%;
  }
  .main-section p:before,
  .main-section p:after {
    content: '';
    display: table;
  }
  .main-section p:after {
    clear: both;
  }
  .main-section p:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 500px) {
  .main-section p {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    left: 0;
    margin: 10px 0 0 0;
  }
  .main-section p:first-child {
    margin-left: auto;
  }
  .main-section p:last-child {
    margin-right: auto;
  }
}
.alex {
  border-radius: 10px;
}
@media only screen and (max-width: 500px) {
  .alex {
    max-width: 200px;
    margin: 10px 0;
  }
}
.portfolio {
  background: #f9f9f9;
}
.portfolio div {
  margin-top: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 680px) {
  .portfolio div {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
.portfolio div article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 58.8%;
  margin-left: 0%;
  margin-right: 3%;
  background: #eee;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}
.portfolio div article:before,
.portfolio div article:after {
  content: '';
  display: table;
}
.portfolio div article:after {
  clear: both;
}
.portfolio div article:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 680px) {
  .portfolio div article {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio div article:first-child {
    margin-left: auto;
  }
  .portfolio div article:last-child {
    margin-right: auto;
  }
}
.portfolio div aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 38.2%;
  margin-left: 0%;
  margin-right: 3%;
}
.portfolio div aside:before,
.portfolio div aside:after {
  content: '';
  display: table;
}
.portfolio div aside:after {
  clear: both;
}
.portfolio div aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 680px) {
  .portfolio div aside {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio div aside:first-child {
    margin-left: auto;
  }
  .portfolio div aside:last-child {
    margin-right: auto;
  }
}
.portfolio span a {
  margin: 10px 0;
}
@media only screen and (max-width: 799px) {
  .portfolio span a {
    margin: 0 0 10px 0;
  }
}
.portfolio :nth-child(3) {
  display: none;
}
.about {
  background: #34495e;
  border-top: 4px solid #425f7a;
  border-bottom: 4px solid #425f7a;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}
.about aside {
  margin-top: 15px;
  position: relative;
  left: 68.6666666666667%;
  background: #304457;
  border-radius: 4px;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.about aside:before,
.about aside:after {
  content: '';
  display: table;
}
.about aside:after {
  clear: both;
}
.about aside:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .about aside {
    position: static;
    left: 0;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin: 10px 0 20px 0;
  }
  .about aside:before,
  .about aside:after {
    content: '';
    display: table;
  }
  .about aside:after {
    clear: both;
  }
  .about aside:last-child {
    margin-right: 0%;
  }
}
.about aside div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.about aside div:before,
.about aside div:after {
  content: '';
  display: table;
}
.about aside div:after {
  clear: both;
}
.about aside div:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.about aside div:first-child {
  margin-left: auto;
}
.about aside div:last-child {
  margin-right: auto;
}
@media only screen and (max-width: 799px) {
  .about aside div {
    display: inline;
    clear: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding-top: 10px;
  }
  .about aside div:first-child {
    margin-left: 0;
  }
  .about aside div:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 799px) {
  .about aside div:last-child {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .about aside div:last-child {
    margin-top: 0;
  }
}
.about article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: -34.3333333333333%;
  display: table;
  text-align: left;
  margin: 0 auto;
}
.about article:before,
.about article:after {
  content: '';
  display: table;
}
.about article:after {
  clear: both;
}
.about article:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 799px) {
  .about article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0;
  }
  .about article:before,
  .about article:after {
    content: '';
    display: table;
  }
  .about article:after {
    clear: both;
  }
  .about article:last-child {
    margin-right: 0%;
  }
}
.about aside > div {
  text-align: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 799px) {
  .about aside > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
  }
  .about aside > div:before,
  .about aside > div:after {
    content: '';
    display: table;
  }
  .about aside > div:after {
    clear: both;
  }
  .about aside > div:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 680px) {
  .about aside > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
  }
  .about aside > div:before,
  .about aside > div:after {
    content: '';
    display: table;
  }
  .about aside > div:after {
    clear: both;
  }
  .about aside > div:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  .about aside > div:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
}
@media only screen and (max-width: 420px) {
  .about aside > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
    margin: 5px 0;
    padding: 0 20px;
  }
  .about aside > div:before,
  .about aside > div:after {
    content: '';
    display: table;
  }
  .about aside > div:after {
    clear: both;
  }
  .about aside > div:nth-child(2n) {
    margin-right: 3%;
    float: left;
  }
  .about aside > div:last-child {
    margin-right: 0%;
  }
}
.about article > div {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  box-sizing: border-box;
  margin: 15px 0;
}
.about article > div:before,
.about article > div:after {
  content: '';
  display: table;
}
.about article > div:after {
  clear: both;
}
.about article > div:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
@media only screen and (max-width: 799px) {
  .about article > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .about article > div:before,
  .about article > div:after {
    content: '';
    display: table;
  }
  .about article > div:after {
    clear: both;
  }
  .about article > div:nth-child(2n) {
    margin-right: 3%;
    float: left;
  }
  .about article > div:nth-child(3n) {
    margin-right: 0%;
    float: right;
  }
}
@media only screen and (max-width: 680px) {
  .about article > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .about article > div:before,
  .about article > div:after {
    content: '';
    display: table;
  }
  .about article > div:after {
    clear: both;
  }
  .about article > div:nth-child(3n) {
    margin-right: 3%;
    float: left;
  }
  .about article > div:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
}
@media only screen and (max-width: 420px) {
  .about article > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin: 5px 0;
    padding: 0 20px;
    border-bottom: 2px solid #304457;
  }
  .about article > div:before,
  .about article > div:after {
    content: '';
    display: table;
  }
  .about article > div:after {
    clear: both;
  }
  .about article > div:nth-child(2n) {
    margin-right: 3%;
    float: left;
  }
  .about article > div:last-child {
    margin-right: 0%;
  }
}
.about aside > div > h3,
.about article > div > h3 {
  color: #507596;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.about aside > div > span,
.about article > div > span {
  font-weight: bold;
  font-size: 1.4em;
}
@media only screen and (max-width: 799px) {
  .about aside > div > span,
  .about article > div > span {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 500px) {
  .about aside > div > span,
  .about article > div > span {
    font-size: 1em;
  }
}
.about aside > div ul,
.about article > div ul {
  list-style: none;
  padding-left: 20px;
}
@media only screen and (max-width: 799px) {
  .about aside > div ul,
  .about article > div ul {
    padding-left: 10px;
  }
}
.about aside > div li {
  margin: 5px 0;
}
.about article > div li {
  border-left: 3px solid #425f7a;
  padding-left: 8px;
  margin: 5px 0;
}
.about article > div a {
  font-weight: bold;
}
@media only screen and (max-width: 799px) {
  .about article > div a {
    font-weight: normal;
  }
}
.portrait {
  background: url("../../img/alex-portrait.png") no-repeat center top;
  height: 275px;
  width: 100%;
  margin: 10px 0;
}
@media only screen and (max-width: 799px) {
  .portrait {
    background-position: center top;
    height: 210px;
    margin: 0;
  }
}
@media only screen and (max-width: 420px) {
  .portrait {
    margin: 10px 0;
  }
}
a {
  color: #1ea557;
  text-decoration: none;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #2a2a2a;
}
p {
  margin: 0 0 15px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-family: Bitter, serif;
/*Oxygen*/
  font-weight: normal;
}
h1 {
  font-size: 3rem;
}
@media only screen and (max-width: 799px) {
  h1 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
}
h2 {
  font-size: 2.4rem;
}
@media only screen and (max-width: 799px) {
  h2 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.4rem;
  }
}
h3,
.sm {
  font-size: 1.8rem;
}
@media only screen and (max-width: 799px) {
  h3,
  .sm {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 500px) {
  h3,
  .sm {
    font-size: 1.2rem;
  }
}
h4,
.xsm {
  font-size: 1.6rem;
}
@media only screen and (max-width: 799px) {
  h4,
  .xsm {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 500px) {
  h4,
  .xsm {
    font-size: 1.1rem;
  }
}
h5,
.xxsm,
p,
span {
  font-size: 1.3em;
}
@media only screen and (max-width: 799px) {
  h5,
  .xxsm,
  p,
  span {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  h5,
  .xxsm,
  p,
  span {
    font-size: 1rem;
  }
}
h6,
.xxxsm,
li {
  font-size: 1rem;
}
@media only screen and (max-width: 799px) {
  h6,
  .xxxsm,
  li {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 420px) {
  h6,
  .xxxsm,
  li {
    font-size: 1rem;
  }
}
.p {
  padding: 30px 0;
}
.container {
  padding: 30px 20px;
}
@media only screen and (max-width: 799px) {
  .container {
    padding: 30px 30px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 20px 20px;
  }
}
@media only screen and (max-width: 420px) {
  .container {
    padding: 20px 20px;
  }
}
.contained {
  *zoom: 1;
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.contained:before,
.contained:after {
  content: '';
  display: table;
}
.contained:after {
  clear: both;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.toggle {
  border: 2px solid #eee;
  background: #f9f9f9;
  border-radius: 4px;
}
@media only screen and (max-width: 420px) {
  .toggle {
    font-size: 0.8rem;
  }
}
.toggle a {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  color: #111;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
.toggle a:before,
.toggle a:after {
  content: '';
  display: table;
}
.toggle a:after {
  clear: both;
}
.toggle .active {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  padding: 20px;
  border: 2px solid #f3f3f3;
  background: #2a2a2a;
}
img {
  max-width: 100%;
}
.more {
  background: #eee;
  text-align: center;
  display: block;
  padding: 15px 0;
  border-radius: 4px;
}
.about .more {
  background: #425f7a;
  color: #304457;
}
.fa-external-link {
  font-size: 0.8rem;
  margin-left: 4px;
}
footer {
  border-top: 4px solid #f9f9f9;
  background: #f3f3f3;
}
@media only screen and (max-width: 799px) {
  footer span:nth-child(2) {
    display: none;
  }
  footer span:last-child {
    margin-bottom: 10px;
  }
}
footer span:first-child a {
  color: #111;
}
footer span:first-child a:hover {
  color: #ababab;
}
footer span {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 2.5px 0;
  font-size: 1.1rem;
  text-align: center;
}
footer span:before,
footer span:after {
  content: '';
  display: table;
}
footer span:after {
  clear: both;
}
footer span:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
@media only screen and (max-width: 799px) {
  footer span {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0 0 0;
    font-size: 1rem;
  }
  footer span:first-child {
    margin-left: auto;
  }
  footer span:last-child {
    margin-right: auto;
  }
}
@media only screen and (max-width: 500px) {
  footer span {
    font-size: 0.9rem;
  }
}
.github-color {
  color: #333;
}
.twitter-color {
  color: #00acee;
}
.linkedin-color {
  color: #1b86bc;
}
.facebook-color {
  color: #3b579d;
}
.google-color {
  color: #dd4b39;
}
.youtube-color {
  color: #c9312c;
}
